$viewportHeight: 414px;

body {
  margin: 0;
  padding: 0;
  background: black;
}

.Root {
  background: #a5725e;
  height: $viewportHeight;
  width: 736px;
  position:relative;
}

@import "./infoScreen.scss";
@import "./Missile.scss";
@import "./missileLayer.scss";
@import "./ScorePanel.scss";
@import "./tank.scss";
@import "./Target.scss";