$viewportHeight: 414px;
$screenBackgroundColor :#a5725e;

body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $screenBackgroundColor;
}

.Root {
  background: $screenBackgroundColor;
  height: $viewportHeight;
  width: 736px;
  position:relative;
}

@import "./infoScreen.scss";
@import "./Missile.scss";
@import "./missileLayer.scss";
@import "./ScorePanel.scss";
@import "./tank.scss";
@import "./Target.scss";
