$viewportHeight: 414px;
$screenBackgroundColor :#a5725e;

html {
  zoom: 150%;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  height: $viewportHeight;
}

.Root {
  background: $screenBackgroundColor;
  height: $viewportHeight;
  width: 736px;
  position:relative;
  margin: auto;
}

@import "./infoScreen.scss";
@import "./Missile.scss";
@import "./missileLayer.scss";
@import "./ScorePanel.scss";
@import "./tank.scss";
@import "./Target.scss";
