.tank {
	position: relative;

	.cannon {
		background: black;
		position: absolute;
		transform: rotate(0deg);
		transform-origin: top left;
		text-align: right;

		.missileOrigin {
			height: 1px;
			width: 1px;
			background: yellow;
		}
	}

	.turret {
		background: #084810;
		color: white;
		position: absolute;
		border-style: solid;
		border-color: black;
	}

	.tankBody {
		background: green;
		position: absolute;
		border-style: solid;
		border-color: black;
	}

	.track {
		background: darkgreen;
		position: absolute;
		border-style: solid;
		border-color: black;
	}
}